<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>CandidatosController</servlet-name>
        <servlet-class>org.example.controller.CandidatosController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidatosController</servlet-name>
        <url-pattern>/candidatos</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EmpresasController</servlet-name>
        <servlet-class>org.example.controller.EmpresasController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmpresasController</servlet-name>
        <url-pattern>/empresas</url-pattern>
    </servlet-mapping>
</web-app>